name: Check

on:
    push:
        branches:
            - master
    pull_request:

jobs:
    tests:
        strategy:
            matrix:
                include:
                    -   platform-version: 253
                        platform-type: RR
                    -   platform-version: 253
                        platform-type: PY

        runs-on: ubuntu-latest
        env:
            ORG_GRADLE_PROJECT_shortPlatformVersion: ${{ matrix.platform-version }}
            ORG_GRADLE_PROJECT_platformType: ${{ matrix.platform-type }}

        steps:
            -   name: Free disk space in the runner before build
                uses: jlumbroso/free-disk-space@main
                with:
                    # removes 5.7GB of android SDK only
                    tool-cache: false
                    android: true
                    dotnet: false
                    haskell: false
                    large-packages: false
                    docker-images: false
                    swap-storage: false

            -   uses: actions/checkout@v4

            -   name: Set up JDK 21
                uses: actions/setup-java@v4
                with:
                    distribution: 'corretto'
                    java-version: 21

            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@v4

            -   name: Build
                run: ./gradlew assemble --stacktrace -Pkotlin.incremental=false

            -   name: Tests
                run: ./gradlew test --stacktrace -Pkotlin.incremental=false

            -   name: Verify plugin.xml
                run: ./gradlew verifyPluginConfiguration

            -   name: Verify plugin
                run: ./gradlew verifyPlugin

