name: Publish stable version to Jetbrains Marketplace

on:
    release:
        types: [released]

jobs:
#    check-for-tests-success:
#        runs-on: ubuntu-latest
#        permissions:
#            actions: write
#
#        steps:
#            -   name: Early exit if tests wasn't successful
#                if: ${{ github.event.workflow_run.conclusion != 'success' }}
#                run: |
#                    gh run cancel ${{ github.run_id }}
#                    gh run watch ${{ github.run_id }}
#                env:
#                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


    publish-eap-channel:
#        needs: [ check-for-tests-success ]
        strategy:
            matrix:
                gradle-properties-version: [ 242, 243-SNAPSHOT ]

        runs-on: ubuntu-latest
        env:
            ORG_GRADLE_PROJECT_shortPlatformVersion: ${{ matrix.gradle-properties-version }}
            JB_PUB_TOKEN: ${{ secrets.JB_PUB_TOKEN }}

        steps:
            -   uses: actions/checkout@v4

            -   name: Set up JDK 17
                uses: actions/setup-java@v4
                with:
                    distribution: 'corretto'
                    java-version: 21

            -   name: Setup Gradle and dependencies
                uses: gradle/actions/setup-gradle@v3
                with:
                    gradle-version: wrapper
                    cache-read-only: false
                    arguments: ":resolveDependencies -Pkotlin.incremental=false --no-daemon"
                    gradle-home-cache-excludes: |
                        caches/modules-2/files-2.1/com.jetbrains.intellij.pycharm
                        caches/modules-2/files-2.1/com.jetbrains.intellij.idea
                        caches/modules-2/files-2.1/com.jetbrains.intellij.clion

            -   name: Build
                uses: gradle/actions/setup-gradle@v3
                with:
                    gradle-version: wrapper
                    arguments: "assemble testClasses -Pkotlin.incremental=false --no-daemon --stacktrace"
                    gradle-home-cache-excludes: |
                        caches/modules-2/files-2.1/com.jetbrains.intellij.pycharm
                        caches/modules-2/files-2.1/com.jetbrains.intellij.idea
                        caches/modules-2/files-2.1/com.jetbrains.intellij.clion

            -   name: Publish to EAP channel
                uses: gradle/actions/setup-gradle@v3
                with:
                    gradle-version: wrapper
                    arguments: ":publishPlugin -Pkotlin.incremental=false --no-daemon --stacktrace"
                    gradle-home-cache-excludes: |
                        caches/modules-2/files-2.1/com.jetbrains.intellij.pycharm
                        caches/modules-2/files-2.1/com.jetbrains.intellij.idea
                        caches/modules-2/files-2.1/com.jetbrains.intellij.clion




