name: Publish stable version to the Marketplace

on:
    release:
        types: [released]

jobs:
#    check-for-tests-success:
#        runs-on: ubuntu-latest
#        permissions:
#            actions: write
#
#        steps:
#            -   name: Early exit if tests wasn't successful
#                if: ${{ github.event.workflow_run.conclusion != 'success' }}
#                run: |
#                    gh run cancel ${{ github.run_id }}
#                    gh run watch ${{ github.run_id }}
#                env:
#                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


    publish-eap-channel:
#        needs: [ check-for-tests-success ]
        strategy:
            matrix:
                gradle-properties-version: [ 242, 243 ]

        runs-on: ubuntu-latest
        env:
            ORG_GRADLE_PROJECT_shortPlatformVersion: ${{ matrix.gradle-properties-version }}
            JB_PUB_TOKEN: ${{ secrets.JB_PUB_TOKEN }}

        steps:
            -   uses: actions/checkout@v4

            -   name: Set up JDK 21
                uses: actions/setup-java@v4
                with:
                    distribution: 'corretto'
                    java-version: 21

            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@v4

            -   name: Publish plugin
                run: ./gradlew publishPlugin --stacktrace -Pkotlin.incremental=false



