name: Publish EAP

on:
    # only works on 'master' branch as it is a default branch
    workflow_run:
        workflows: [ Check ]
        types:
            - completed
        branches:
            - master

jobs:
    check-for-tests-success:
        runs-on: ubuntu-latest
        permissions:
            actions: write

        steps:
            -   name: Early exit if tests wasn't successful
                if: ${{ github.event.workflow_run.conclusion != 'success' }}
                run: |
                    gh run cancel ${{ github.run_id }}
                    gh run watch ${{ github.run_id }}
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


    publish-eap-channel:
        needs: [ check-for-tests-success ]
        strategy:
            matrix:
                gradle-properties-version: [ 233, 241 ]

        runs-on: ubuntu-latest
        env:
            ORG_GRADLE_PROJECT_shortPlatformVersion: ${{ matrix.gradle-properties-version }}
            JB_PUB_TOKEN: ${{ secrets.JB_PUB_TOKEN }}
            JB_PUB_CHANNEL: eap

        steps:
            -   uses: actions/checkout@v3

            -   name: Set up JDK 17
                uses: actions/setup-java@v3
                with:
                    distribution: 'corretto'
                    java-version: 17

            -   name: Setup Gradle and dependencies
                uses: gradle/actions/setup-gradle@v3.1.0
                with:
                    gradle-version: wrapper
                    cache-read-only: false
                    arguments: ":resolveDependencies -Pkotlin.incremental=false --no-daemon"
                    gradle-home-cache-excludes: |
                        caches/modules-2/files-2.1/com.jetbrains.intellij.pycharm
                        caches/modules-2/files-2.1/com.jetbrains.intellij.idea
                        caches/modules-2/files-2.1/com.jetbrains.intellij.clion

            -   name: Build
                uses: gradle/gradle-build-action@v2.7.0
                with:
                    gradle-version: wrapper
                    arguments: "assemble testClasses -Pkotlin.incremental=false --no-daemon --stacktrace"
                    gradle-home-cache-excludes: |
                        caches/modules-2/files-2.1/com.jetbrains.intellij.pycharm
                        caches/modules-2/files-2.1/com.jetbrains.intellij.idea
                        caches/modules-2/files-2.1/com.jetbrains.intellij.clion

            -   name: Publish to EAP channel
                uses: gradle/gradle-build-action@v2.7.0
                with:
                    gradle-version: wrapper
                    arguments: ":plugin:publishPlugin -Pkotlin.incremental=false --no-daemon --stacktrace"
                    gradle-home-cache-excludes: |
                        caches/modules-2/files-2.1/com.jetbrains.intellij.pycharm
                        caches/modules-2/files-2.1/com.jetbrains.intellij.idea
                        caches/modules-2/files-2.1/com.jetbrains.intellij.clion




